body {
    background:#B4B6C1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0 auto;
}

section{
    height:711px;
    width:600px;
    background:#fff;
    border-radius: 10px;
    display: flex;
}

form{
    width:600px;
    display: flex;
    flex-direction: column;
}