@import 'Variaveis.css';

body {
    background:#EBF0FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0 auto;
}

section{
    height:430px;
    width:600px;
    background:#fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

form{
    width:600px;  
    flex-direction: column;
}

fieldset{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.dados{
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    justify-content: space-around;

}

h2 {
    color:#000;
    font-family: arial;
    font-size: 30px;
    font-weight: 600;
    margin: 55px 0 5px 0;

}

p{
    color: var(--color-gray);
    font-family: arial;
    font-size: 20px;

}

fieldset input,button{
    border: solid 1px #EBF0FA;
    padding: 14px;
    width: 390px;
    border-radius: 10px;    
}

.btn{
    color: #fff;
    background: #00A335;
    font-size: 30px;
    font-family: arial;
    font-weight: 600;
    margin-top:35px;
}

a{
    color:#fff;
    text-decoration: none;
}

::placeholder{
    color:#BCBCBC;
    padding: 0px 0 0 30px;

}

span{
    
    text-align: center;
    font-size:18px;
    padding: 13px;
    color: var(--color-gray);
}

.doTopo{
    margin-top:45px;
}

b {
    color: var(--link-color)
}