body{
    background:#EBF0FA;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

form{
    width:600px;  
    flex-direction: column;
}

section{
    height:600px;
    width:600px;
    background:#fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

fieldset{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    
}

h2 {
    color:#000;
    font-family: arial;
    font-size: 30px;
    font-weight: 600;
    margin: 55px 0 5px 0;

}
p{
    color: var(--color-gray);
    font-family: arial;
    font-size: 20px;

}

.dados{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    justify-content: space-around;
}
.b1,.b2{
display: flex;
flex-direction: row;
width: 350px;

}

fieldset input,button{
    border: solid 1px #EBF0FA;
    padding: 14px;
    width: 390px;
    border-radius: 10px;    
}

span{
    text-align: center;
    padding: 13px;
    color: var(--color-gray);
    margin-top:45px;
}

b {
    color: var(--link-color)
}